<h1>Add coffees</h1>

<form action="/coffees" method="POST">
    <input type="hidden" name="_method" value="put">

    <label for="">Name: </label>
    <input type="text" name="name">

    <label for="">Image URL: </label>
    <input type="text" name="image_url">

    <label for="">Coffee shoots: </label>
    <input type="text" name="coffee_shots">

    <label for="">Ingredients: </label>
    <input type="text" name="ingredients">

    <label for="">Servings: </label>
    <input type="text" name="servings">

    <label for="">Serves hot y/n: </label>
    <input type="text" name="hot_drink">

    <label for="">Dairy free y/n: </label>
    <input type="text" name="dairy_free">

    <label for="">Preparation: </label>
    <input type="text" name="steps">

    <button>Add coffee</button>

</form>